<!doctype html>
<html lang="zh-tw">
<head>
	<%= render :partial => "partials/layout_head.html.erb" %>
</head>
<body>
	<%= render :partial => "partials/layout_header.html.erb" %>
	<%= render :partial => "partials/layout_menu.html.erb" %>
	<div id="cont_area">
		<%= render :partial => "partials/quiz_import.html.slim" %>
	</div>
	<%= render :partial => "partials/layout_footer.html.erb" %>
</body>
</html>